.body {
	margin: 0;
	padding: 0;
	background: #ffebd7;
}
.hasBeenSelected{
	margin-left:50px;
}
.screenBox{
	margin-left:50px;
}
.start{
	margin-left:100px;
	text-align: center;
}
.pinImg{
	whidth:30px;
	height:30px;
}
.mapImg{
	margin-right:100px;
	float:right;
	margin-top: 30px;
	width:100px;
	height: 40px;
}
.carousel-inner{
	
}
.perDivIncarousel{
	margin:10px;
	width:200px;
	float:left;
	clear:right;
}
.perImgIncarousel{
	width: 200px;
	height: 150px;

}
.perSpanIncarousel{
	
}
#carouselimg{
	width: 50px;
	height: 38px;
}
#map {
	width: 100%;
	height: 400px;
}

.onlyIndexList ,.start{
	clear:left;
}
.text {
	width: 100px;
}
.titleDiv {
	float:left;
}
.textDiv{
	float:right;
}
.zipcodeForCss{
	float:left;
}
.mapSelect{
	float: left;
}
.mapSelectOnly{	
	display: block;
	width: auto;
	height: calc(1.5em + 0.75rem + 2px); padding : 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	padding: 0.375rem 0.75rem;
}

.city-control {
/* 	float: left; */
/* 	display: block; */
/* 	width: auto; */
/* 	height: calc(1.5em + 0.75rem + 2px); */
/* 	padding: 0.375rem 0.75rem; */
/* 	font-size: 1rem; */
/* 	font-weight: 400; */
/* 	line-height: 1.5; */
/* 	color: #495057; */
/* 	background-color: #fff; */
/* 	background-clip: padding-box; */
/* 	border-bottom: 1px solid #ced4da; */
/* 	border-radius: 0.25rem; */
/* 	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
}

.town-control {
/* 	float: left; */
/* 	display: block; */
/* 	width: auto; */
/* 	height: calc(1.5em + 0.75rem + 2px); */
/* 	padding: 0.375rem 0.75rem; */
/* 	font-size: 1rem; */
/* 	font-weight: 400; */
/* 	line-height: 1.5; */
/* 	color: #495057; */
/* 	background-color: #fff; */
/* 	background-clip: padding-box; */
/* 	border-bottom: 1px solid #ced4da; */
/* 	border-radius: 0.25rem; */
/* 	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
}

.searchDiv {
	margin-left:50px;
	background-color: #F2FFF2;
	height: 80px;
	background: #ffebd7;
}

.searchBut {
	margin-top: 30px;
	width: 90px;
	height: 40px;
}

.searchText {
	margin-left:100px;
	margin-top: 30px;
	width: 400px;
	height: 40px;
}


#img {
	width: 200px;
	height: 150px;
	margin-top: 10px;
}


.font-16B {
	font-family: Microsoft JhengHei;
	font-size: 16px;
}

.font-22B {
	font-weight: bold;
	font-family: Microsoft JhengHei;
	font-size: 22px;
}

.font-25R {
	font-weight: bold;
	font-family: Microsoft JhengHei;
	font-size: 25px;
	color: red;
}

.eliminateCriteria {
	DISPLAY: none;
	float: right;
}