.body {
	margin: 0;
	padding: 0;
/* 	background: #ffebd7;橘色 */
	background: #F8F8FF; /*白色*/
}
/* .includeAll{ */
/* 	background: #F8F8FF;白色 */
/* } */
.perDivIncarousel{
	margin:10px;
	width:190px;
	float:left;
	clear:right;
}
.perImgIncarousel{
	margin-left:5px;
	margin-top:5px;
	width: 180px;
	height: 150px;
}
.perSpanIncarousel{
	
}
#carouselimg{
	width: 50px;
	height: 38px;
}
.carousel{	
	margin-bottom:30px;
/* 	width:1263px; */
/* 	text-align: center;	 */
	float:left;	
	border:1px solid #DCDCDC; 
	border-top:3px solid #FF4500; 
/* 	padding-left:80px; */
/* 	padding-right:80px; */
}
.carousel-item{
	width:auto;
	text-align: left;
}
/* #carouselExampleControls{ */
/* 	border:1px solid #DCDCDC;  */
/* 	border-top:3px solid #FF4500;  */
/* 	margin-right:80px; */
/* } */
.searchDiv {
	margin-left:80px;
	background-color: #F2FFF2;
	height: 80px;
	background: #F8F8FF;
}
.hasBeenSelected{
	padding-top:15px;
	margin-top:10px;
	border-top:3px solid #FF4500; 
	margin-left:80px;
}

#selectList{
	height:270px;
	background-color:#DCDCDC;
	margin-top:10px;
	margin-bottom:10px;
}




.screenBox{
	margin-left:80px;
}
.start{	
	margin-left:80px;
	text-align: left;
}
.titleDiv {
	float:left;
}
.pinImg{
	whidth:30px;
	height:30px;
}
.mapImg{
	margin-right:100px;
	float:right;
	margin-top: 30px;
	width:100px;
	height: 40px;
}


#map {
	width: 100%;
	height: 400px;
}

.onlyIndexList ,.start{
	clear:left;
}
.text {
	width: 60px;
}

.textDiv{
	float:right;
}
.zipcodeForCss{
	float:left;
}
.mapSelect{
	float: left;
}
.mapSelectOnly{	
	display: block;
	width: auto;
	height: calc(1.5em + 0.75rem + 2px); padding : 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	padding: 0.375rem 0.75rem;
}

.city-control {
/* 	float: left; */
/* 	display: block; */
/* 	width: auto; */
/* 	height: calc(1.5em + 0.75rem + 2px); */
/* 	padding: 0.375rem 0.75rem; */
/* 	font-size: 1rem; */
/* 	font-weight: 400; */
/* 	line-height: 1.5; */
/* 	color: #495057; */
/* 	background-color: #fff; */
/* 	background-clip: padding-box; */
/* 	border-bottom: 1px solid #ced4da; */
/* 	border-radius: 0.25rem; */
/* 	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
}

.town-control {
/* 	float: left; */
/* 	display: block; */
/* 	width: auto; */
/* 	height: calc(1.5em + 0.75rem + 2px); */
/* 	padding: 0.375rem 0.75rem; */
/* 	font-size: 1rem; */
/* 	font-weight: 400; */
/* 	line-height: 1.5; */
/* 	color: #495057; */
/* 	background-color: #fff; */
/* 	background-clip: padding-box; */
/* 	border-bottom: 1px solid #ced4da; */
/* 	border-radius: 0.25rem; */
/* 	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
}



.searchBut {
	margin-top: 30px;
	width: 90px;
	height: 40px;
}

.searchText {
/* 	margin-left:80px; */
	margin-top: 30px;
	width: 400px;
	height: 40px;
}


#img {
	width: 200px;
	height: 150px;
	margin-top: 10px;
}


.font-16B {
	font-family: Microsoft JhengHei;
	font-size: 16px;
}

.font-22B {
	font-weight: bold;
	font-family: Microsoft JhengHei;
	font-size: 22px;
}

.font-25R {
	font-weight: bold;
	font-family: Microsoft JhengHei;
	font-size: 25px;
	color: red;
}

.eliminateCriteria {
	DISPLAY: none;
	float: right;
	font-weight: bold;
	font-family: Microsoft JhengHei;
	font-size: 18px;
	
}
.clearList_left{
	font-weight: bold;
	font-family: Microsoft JhengHei;
	font-size: 18px;
}
.clearList{
	color: red;
	font-weight: bold;
	font-family: Microsoft JhengHei;
	font-size: 18px;
}